#searchresults {
    width: 78%;
    float: right;
    /*height: 700px;*/
}

.resultpreview {

    margin-left:11em;
}
.result{
    max-width: 470px;

}
li {
    list-style: none;
}
.mainpic {
    float: left;
    max-width: 100%;
    max-height: 400px;
}

#searchbox {
  float: left;
    /*border: 2px solid black;*/
    width: 20%;
    min-width: 124px;
    padding: 10px;
    margin-right: 2px;
}

#searchbuttons {
    width: 70px;
}
.makemenu {
    margin: 5px;
}

#searchcontainer {
    max-width: 1100px;
    width: 1000px;
    /*height: 800px;*/

}

.descriptionbox {
    min-height: 200px;
    padding: 10px;
}
.popupimage {
    border-radius: 5px;
}
.priceMakeModel {
    margin: 0 auto;
    margin-left: 20px;
}
.popupTitle {
    margin-left: 10px;
}
/* style from bootsnip real estate example */

/**** BASE ****/
body {
    color: #888;
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}
