#searchresults {
    width: 68%;
    float: right;
    /*height: 700px;*/
}

.resultpreview {

    margin-left:11em;
}
.result{
    max-width: 470px;

}
li {
    list-style: none;
}
.mainpic {
    float: left;
    width: 10em;
    height: 10em;
}

#searchbox {
  float: left;
    /*border: 2px solid black;*/
    width: 30%;
    padding: 10px;
}

#searchbuttons {
    width: 70px;
}
.makemenu {
    margin: 5px;
}

#searchcontainer {
    max-width: 700px;
    /*height: 800px;*/

}