<div class="listingcontainer">
    <img class="mainlistingpic" src="{{listing.mainimage}}">
    <div class="listingdetails">

        <h3>{{listing.title}}</h3>

        <ul>

            <li>make: {{listing.make}}</li>
            <li>model: {{listing.model}}</li>
            <li>year: {{listing.year}}</li>
            <li>mileage: {{listing.mileage}}</li>

        </ul>

    </div>

    <div class="listingdescription">

        <h4>Description</h4>

        <p> {{listing.description}}</p>

    </div>
</div>