
<div class="jumbotron">
  <h1>Hello there</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <a ui-sref="Sell"><button id ="rightlink" class="well buysell btn">Sell</button></a>
    <a ui-sref="Search"><button class="well buysell btn">Buy</button></a>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-copyright-mark"></span> 2014 Adam Winn</p>
</div>
