
<div class="mainmodal modal" tabindex="-1" role="dialog" > <!--    bs-modal  -->
<div class="modal-dialog modal-lg">
<div class="modal-content">
<img alt="image" class="img-responsive popupimage" src="images/Motorcycle_by_Diacon.jpg"></a><hr>
<h2 class="popupTitle">{{modalResult.title}}</h2>
<div class ="priceMakeModel">   $ {{modalResult.price}} | Make: {{modalResult.make}} | Model: {{modalResult.model}} | Year: {{modalResult.year}}</div>   <br>
<hr>
<div class = "descriptionbox">
{{modalResult.description}}
</div>
</div>
</div>
</div>