<div class = "searchcontainer">
<!--<h2>Find Your next bike!</h2>-->
<div id="searchbox" class="well">
    <!-- form for searching Adds-->
    <form class="form-horizontal form-group">
        <!-- keyword search-->
        <label>Search  </label><br><input label="Search"  type="text" class = "input-large" ng-model="search.$"><br>
        <!-- select high and low price!!-->
        <label>Price Range  </label><br><input label="Search"  type="text" class = "input-large" placeholder="Low"><br><input label="Search"  type="text" class = "input-large" placeholder="High"><br>
        <div class="btn-group makemenu" >
            <button class="btn btn-default btn-sm dropdown-toggle " id="searchbuttons" type="button" data-toggle="dropdown">
                Make <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>Honda</li>
                <li>Triumph</li>
                <li>Suzuki</li>
                <li>Kawasaki</li>
            </ul>
        </div>
        <div class="btn-group ">
            <button class="btn btn-default btn-sm dropdown-toggle " id="searchbuttons" type="button" data-toggle="dropdown">
                Model <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </form>

</div>
<div id="searchresults" class="well" >
   <div ng-repeat="result in searchresults | filter:search:strict" class="result well">
       <a ui-sref="listing:{{result.id}}"><img class="mainpic img-responsive" src="{{result.mainimage}}"></a>
       <div class="resultpreview ">
           <h3>{{result.title}}</h3>
           <div class = "addDetails">

               <span>Make: {{result.make}} Model: {{result.model}}</span>
           </div>
           <h4>Price: {{result.price}}</h4>
       </div>

       <div>{{result.description}}</div>

   </div>

</div>

</div>


        <!--listing from bootsnipp real estate listing example-->
<!--<div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">-->
    <!--<div class="media">-->
        <!--<a class="pull-left" href="#" target="_parent">-->
            <!--<img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg"></a>-->

        <!--<div class="clearfix visible-sm"></div>-->

        <!--<div class="media-body fnt-smaller">-->
            <!--<a href="#" target="_parent"></a>-->

            <!--<h4 class="media-heading">-->
                <!--<a href="#" target="_parent">$1,975,000 <small class="pull-right">218 Lynnebrook Ln</small></a></h4>-->


            <!--<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">-->
                <!--<li>6,959 SqFt</li>-->

                <!--<li style="list-style: none">|</li>-->

                <!--<li>6 Beds</li>-->

                <!--<li style="list-style: none">|</li>-->

                <!--<li>5 Baths</li>-->
            <!--</ul>-->

            <!--<p class="hidden-xs">Impressively positioned-->
                <!--overlooking 3.5 captivating acres, designated-->
                <!--as "significant" by the chestnut hill-->
                <!--historical s...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Blue Bell</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->