<div class = "searchcontainer">
<!--<h2>Find Your next bike!</h2>-->
<div id="searchbox" class="well">
    <!-- form for searching Adds-->
    <form class="form-horizontal form-group">
        <!-- keyword search-->
        <label>Search  </label><br><input label="Search"  type="text" class = "input-large"><br>
        <!-- select high and low price!!-->
        <label>Price Range  </label><br><input label="Search"  type="text" class = "input-large" placeholder="Low"><br><input label="Search"  type="text" class = "input-large" placeholder="High"><br>
        <div class="btn-group makemenu" >
            <button class="btn btn-default btn-sm dropdown-toggle " id="searchbuttons" type="button" data-toggle="dropdown">
                Make <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>Honda</li>
                <li>Triumph</li>
                <li>Suzuki</li>
                <li>Kawasaki</li>
            </ul>
        </div>
        <div class="btn-group ">
            <button class="btn btn-default btn-sm dropdown-toggle " id="searchbuttons" type="button" data-toggle="dropdown">
                Model <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </form>

</div>
<div id="searchresults" class="well" ng-controller="MainCtrl">
   <div ng-repeat="result in searchresults" class="result well">
       <img class="mainpic img-responsive" src="{{result.mainimage}}">
       <div class="resultpreview ">
           <h3>{{result.title}}</h3>
           <ul class = "addDetails">
               <li>{{result.make}}</li>
               <li>{{result.model}}</li>
               <li>{{result.year}}</li>
               <li>{{result.mileage}}</li>
           </ul>
       </div>

       <div>{{result.description}}</div>

   </div>

</div>

</div>