<div class="makeadd well" ng-controller="SellCtrl" >

                        <!--  post add form  will not appear unless loggedIn is true. -->

        <form role="form" class="form-horizontal sellForm" ng-submit="submit()" type = "submit" ng-show="loggedIn">
            <h1>Post your Add</h1>

            <div class="required-field-block">
                <input type="text" placeholder="Name" class="form-control" ng-model="listing.name">

            </div>

            <div class="required-field-block">
                <input type="email" placeholder="Email" class="form-control col-sm-10" id="email" ng-model="listing.email">

            </div>

            <input type="tel" placeholder="Phone" class="form-control" id="phone" ng-model="listing.phone">

            <label for="make" class="col-sm-2 control-label">Make</label>
            <select class="form-control" id="make"
                    ng-model="listing.make"
                    ng-options="key as key for (key , value) in makesAndModels" >

            </select>
            <label for="model" class="col-sm-2 control-label">model</label>

            <select class="form-control" id="model"
                    ng-model="listing.model"
                    ng-options="model as model for model in makesAndModels[listing.make]"
                    ng-disabled="!listing.make">
            </select>

            <div class="required-field-block">
                <input type="text" placeholder="Year" class="form-control" ng-model="listing.year">

            </div>
            <div class="required-field-block">
                <input type="text" placeholder="Mileage" class="form-control" ng-model="listing.mileage">

            </div>
            <div class="required-field-block">
                <input type="text" placeholder="Price" class="form-control" ng-model="listing.price">

            </div>
            <div class="required-field-block">
                <input type="text" placeholder="Add Title" class="form-control" ng-model="listing.title">

            </div>
            <div class="required-field-block">
                <textarea rows="3" class="form-control" placeholder="Description" ng-model="listing.description"></textarea>

            </div>


            <button class="btn btn-primary" type="submit">Submit</button>
        </form>


        <!--  login and signup forms. Will both disappear if loggedIn variable is true    -->
<div class = "loginOrCreateUser" ng-hide="loggedIn">

    <!--  login form    -->

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="area">
                        <form class="form-horizontal" ng-submit="logInUser()">
                            <div class="heading">
                                <h4 class="form-heading">Sign In</h4>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputCompanyName">Company Name</label>

                                <div class="controls">
                                    <input id="inputCompanyName" placeholder=
                                            "E.g. Some Software Pvt. Ltd." type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputUsername">Username</label>

                                <div class="controls">
                                    <input id="inputUsername" placeholder=
                                            "E.g. ashwinhegde" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputPassword">Password</label>

                                <div class="controls">
                                    <input id="inputPassword" placeholder=
                                            "Min. 8 Characters" type="password">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox"><input type="checkbox">
                                        Keep me signed in ¦ <a class="btn btn-link"
                                                               href="#">Forgot my password</a></label>
                                    <button class="btn btn-success" type=
                                            "submit">Sign In</button> <button class="btn"
                                                                              type="button">Help</button>
                                </div>
                            </div>

                            <div class="alert alert-error">
                                <button class="close" data-dismiss="alert" type=
                                        "button">×</button> <strong>Access Denied!</strong>
                                Please provide valid authorization.
                            </div>
                        </form>
                    </div>
                </div>
<hr>
                        <!--  signup form    -->

                <div class="span6" >
                    <div class="area">
                        <form class="form-horizontal" ng-submit="createUser()">
                            <div class="heading">
                                <h4 class="form-heading">Sign Up</h4>
                            </div>


                            <div class="control-group">
                                <label class="control-label" for="inputFirst">First
                                    Name</label>

                                <div class="controls">
                                    <input id="inputFirst" placeholder=
                                            "E.g. Ashwin" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputLast">Last
                                    Name</label>

                                <div class="controls">
                                    <input id="inputLast" placeholder="E.g. Hegde"
                                           type="text">
                                </div>
                            </div>


                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputPhone">Phone</label>

                                <div class="controls">
                                    <input id="inputPhone" placeholder=
                                            "801-888-8888" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputEmail">Email</label>

                                <div class="controls">
                                    <input id="inputEmail" placeholder=
                                            "E.g. ashwinh@cybage.com" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputUser">Username</label>

                                <div class="controls">
                                    <input id="inputUser" placeholder=
                                            "E.g. ashwinhegde" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                        "inputPassword">Password</label>

                                <div class="controls">
                                    <input id="inputPassword" placeholder=
                                            "Min. 8 Characters" type="password">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox"><input type="checkbox">
                                        I agree all your <a href="#">Terms of
                                            Services</a></label> <button class=
                                                                                 "btn btn-success" type="submit">Sign
                                    Up</button> <button class="btn" type=
                                        "button">Help</button>
                                </div>
                            </div>

                            <div class="alert alert-info">
                                <button class="close" data-dismiss="alert" type=
                                        "button">×</button> <strong>Confirmation:</strong>
                                A confirmation email has been sent to your
                                email.<br>
                                Thank you for your registration.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>




        <!--for when I want to implement uploading photos-->
<!--<!-- File Button -->-->
<!--<div class="control-group">-->
    <!--<label class="control-label" for="filebutton">File Button</label>-->
    <!--<div class="controls">-->
        <!--<input id="filebutton" name="filebutton" class="input-file" type="file">-->
    <!--</div>-->
<!--</div>-->
