<div class="makeadd well">
    <form>
        <div class="input-group">
            <form class="input-group">
                <fieldset class="pure-group">
                    <input type="text" class="" placeholder="Username">
                    <input type="text" class="" placeholder="Password">
                    <input type="email" class="" placeholder="Email">
                </fieldset>

                <fieldset class="input-group">
                    <input type="text" class="" placeholder="Another Group">
                    <input type="text" class="" placeholder="More Stuff">
                </fieldset>

                <button type="submit" class="btn  ">Sign in</button>
            </form>
        </div>
    </form>
</div>